<header class="title">
    <h1>User Details</h1>
    <div class="actions">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openUser(0)">
          <mat-icon>add</mat-icon>
          <span>New</span>
        </button>
        <button mat-menu-item (click)="confirmDelete()" [disabled]="!_user.id">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
  </header>
  
  <div class="mat-elevation-z8 group-div" id="headerSection">
    <mat-card class="main-card">
      <mat-card-content>
        <div class="row">
          <mat-form-field class="col-sm-2">
            <input matInput placeholder="Name" [(ngModel)]="_user.name" required data-validate="name">
            <mat-error *ngIf="!_user.name">Name is required!</mat-error>
          </mat-form-field>  
          <mat-form-field class="col-sm-2">
            <input matInput placeholder="LastName" [(ngModel)]="_user.lastName">            
          </mat-form-field>
          <mat-form-field class="col-sm-2">
            <input matInput placeholder="Email" [(ngModel)]="_user.email">            
          </mat-form-field>
          <mat-form-field class="col-sm-2">
            <input matInput placeholder="Password" type="password" [(ngModel)]="_user.passwordHash" required>            
          </mat-form-field>
          <mat-form-field class="col-sm-2">
            <input matInput placeholder="Phone" [(ngModel)]="_user.phoneNumber">            
          </mat-form-field>
          <mat-form-field class="col-sm-2">
            <mat-label>Group</mat-label>
            <mat-select [(ngModel)]="_user.idGroup" name="group">
              <mat-option *ngFor="let group of _userGroups" [value]="group.id">
                {{group.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <section class="checkbox-section col-sm-1">
            <mat-checkbox [(ngModel)]="_user.inactive">Inactive</mat-checkbox>
          </section>          
        </div>
      </mat-card-content>
      <mat-card-actions class="text-right">
        <button mat-raised-button color="primary" (click)="saveUser()">Save</button>
        <button mat-raised-button (click)="goToUserList()">Back to List</button>
      </mat-card-actions>
    </mat-card>
  </div>