<header class="title">
    <h1>{{entityType.name}}</h1>
    <div class="actions" *ngIf="!entityType.hideNew">
        <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openById(0)">
            <mat-icon>add</mat-icon>
            <span>New {{entityType.name}}</span>
        </button>
        </mat-menu>
    </div>
</header>  
      
<div class="mat-elevation-z8 list-search-div">
<div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner diameter="70" strokeWidth="8" class="mat-spin"></mat-spinner>
</div>  
<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 list-search-table">
    <ng-container *ngFor="let col of fields; trackBy: trackElement">
        <ng-container matColumnDef="{{ col.name }}">
        <th mat-header-cell *matHeaderCellDef class="header">
            <mat-form-field class="filter">
                <input *ngIf="col.type=='text'||col.type=='date'||col.type=='number'||col.type=='currency'" matInput [(ngModel)]="filterColumns[col.field]" placeholder="Search by {{ col.name }}" (keyup.enter)="filterResults()">
                <mat-label *ngIf="col.type=='bool'">Search by {{ col.name }}</mat-label>
                <mat-select *ngIf="col.type=='bool'" [(ngModel)]="filterColumns[col.field]" (selectionChange)="filterResults()">
                    <mat-option value="">All</mat-option>
                    <mat-option value="true">True</mat-option>
                    <mat-option value="false">False</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="row sort-row" (click)="sortData(col)">
            <div>{{ col.name }}</div>
            <div class="material-icons icon-img" *ngIf="col.sort==='asc'">arrow_upward</div>
            <div class="material-icons icon-img" *ngIf="col.sort==='desc'">arrow_downward</div>
            </div>
        </th>
        <td mat-cell *matCellDef="let element" class="text-overflow"> 
            <span *ngIf="col.type=='text'">{{element[col.field]}}</span>
            <span *ngIf="col.type=='currency'">{{element[col.field] | currency }}</span>
            <span *ngIf="col.type=='date'">{{element[col.field] | date : 'shortDate'}}</span>
            <div *ngIf="col.type=='bool'" class="chk-section" fxLayout="row" fxLayoutAlign="center center">
                <mat-checkbox class="chk-margin" [(ngModel)]="element[col.field]" ></mat-checkbox>
            </div>
        </td>        
        </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openById(row.id)" class="mat-row-narrow"></tr>
    </table>
</div>

<mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons [pageSize]="25" (page)="paginatorChanged($event)"></mat-paginator>

</div>