.list-search-div {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  
  .list-search-div div {
    overflow: auto;
  }
  
  .list-search-table {
    width: 100%;
  }
  
  .list-search-table .mat-row:hover {
    cursor: pointer;
    background-color: #f2f2f2;
  }
  
  .filter {
    display: block;
  }
  
  .header {
    padding: 5px;
    font-weight: bold;
  }
  
  .loading-shade {
    position: absolute;
    left: 0;  
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
  }
  
  .sort-row {
    margin-left: 0;
    margin-right: 0;
    cursor: pointer;
  }
  
  .icon-img {
    font-size: 16px;
    margin-left: 5px;
  }

  .chk-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 40px;
  }
  
  ::ng-deep .chk-margin label {
    margin: 0;
  }

  .text-overflow {
    white-space: nowrap; 
    max-width: 20vw; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
  }
  