<header class="title">
    <h1>User Details</h1>
  </header>
  
  <div class="mat-elevation-z8 group-div" id="headerSection">
    <mat-card class="main-card">
      <mat-card-content>
        <div class="row">
          <mat-form-field class="col-sm-2">
            <input matInput placeholder="Name" [(ngModel)]="_user.name" required data-validate="name">
            <mat-error *ngIf="!_user.name">Name is required!</mat-error>
          </mat-form-field>  
          <mat-form-field class="col-sm-2">
            <input matInput placeholder="LastName" [(ngModel)]="_user.lastName">            
          </mat-form-field>
          <mat-form-field class="col-sm-2">
            <input matInput placeholder="Email" [(ngModel)]="_user.email">            
          </mat-form-field>
          <mat-form-field class="col-sm-2">
            <input matInput placeholder="Password" type="password" [(ngModel)]="_user.passwordHash" required>            
          </mat-form-field>
          <mat-form-field class="col-sm-2">
            <input matInput placeholder="Phone" [(ngModel)]="_user.phoneNumber">            
          </mat-form-field>
          <section class="margin-top-10 col-sm-2">
            <button mat-raised-button (click)="openTwoFactorDialog()" *ngIf="!_user.twoFactorEnabled">Enable Two Factor Authentication</button>
            <button mat-raised-button (click)="disableTwoFactorAuth()" *ngIf="_user.twoFactorEnabled">Disable Two Factor Authentication</button>
          </section>
        </div>
      </mat-card-content>
      <mat-card-actions class="text-right">
        <button mat-raised-button color="primary" (click)="saveUser()">Save</button>
      </mat-card-actions>
    </mat-card>
  </div>