.login-wrapper:before {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #00bcd4;
  content: "";
  z-index: 0;
}

.login-wrapper {
  height: 100%!important;
}

.login-card {
    padding-bottom: 1.5rem;
}

.input-login {
  margin-left: 15px;
  margin-right: 15px;
}